<div class="row-fluid">
  <div class="span6">
    <div id="left-panel">
      <div id="menu-headline">
        <h1>Tonight's Menu</h1>
      </div>
      <%= image_tag "hong-shao-rou.jpg",  alt: "Bowl of rice",
                                          # size: "800x800",
                                          class: "menu-image" %>
    </div>
  </div>

  <div class="span6">
    <div id="right-panel">
      <div id="menu-name">
        <h3>Red Braised Pork (红烧肉)</h3>
      </div>
      <div id="menu-description">
        <p class="lead">One of Mao Zedong's favorite foods, Red Braised Pork is a classic Chinese dish.</p>
        <p class="lead">Pork belly is slow-cooked in a combination of soy sauce, rice wine, garlic, and spices until it's soft enough to melt in your mouth.</p>
      </div>

      <% if user_signed_in? %>
        <%= link_to "Order now", "#", class: "btn btn-large btn-primary" %>
      <% else %>

        <%= render "shared/signupModal" %>
        <!-- Button to trigger modal -->
        <!-- <a href="#signupModal" role="button" class="btn btn-large btn-success" data-toggle="modal">Sign up</a> -->

        <!-- Modal -->
        <!-- <div id="signupModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="signupLabel">Sign up</h3>
          </div>



          <div class="modal-body">

            <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>

              <%= f.error_notification %>

              <div class="control-group">
                <div class="controls">
                  <%= f.input :name,
                              placeholder: 'John Smith',
                              input_html: {class: 'span7'} %>
                  <%= f.input :email,
                              placeholder: 'jsmith@gmail.com',
                              input_html: {class: 'span7'} %>
                  <%= f.input :address,
                              placeholder: "1709 Broderick Street",
                              input_html: {class: 'span7'} %>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <%= f.input :city, label: 'City/State/Zip',
                              input_html: {class: 'span7'},
                              wrapper_html: {class: 'controls controls-row'} do %>
                    <%= f.input_field :city, class: 'span3',
                                      placeholder: "San Francisco" %>
                    <%= f.input_field :state, class: 'span2',
                                      placeholder: "CA" %>
                    <%= f.input_field :zipcode, class: 'span2',
                                      placeholder: "94115" %>
                  <% end %>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <%= f.input :phone,
                              placeholder: '123-456-7890',
                              input_html: {class: 'span3'} %>
                  <%= f.input :password,
                              placeholder: '********',
                              input_html: {class: 'span3'} %>
                  <%= f.input :password_confirmation,
                              placeholder: '********',
                              input_html: {class: 'span3'} %>
                </div>
              </div>

              <div class="form-actions">
                <%= f.submit "Sign up", class: "btn btn-large btn-success" %>
              </div>

            <% end %>

          </div>
        </div> -->
      <% end %>
    </div>
  </div>
</div>